:root {
    --primary-clr-hue: 44;
    --primary-clr: hsl(var(--primary-clr-hue), 100%, 50%);

    --danger-clr-hue: 0;
    --danger-clr: hsl(var(--danger-clr-hue), 100%, 50%);

    --complete-clr-hue: 113;
    --complete-clr: hsl(var(--complete-clr-hue), 100%, 47%);

    --btn-icon-size: 2rem;

    --bg-clr-hue: 234;
    --global-background: hsl(var(--bg-clr-hue), 20%, 81%);
    --global-color: hsl(var(--bg-clr-hue), 14%, 14%);
    --primary-font: futura, helvetica, arial, sans-serif;

    --box-shadow-s: 0 0 20px rgba(0, 0, 0, 0.61);
    --box-shadow-m: 0 0 10px rgba(0, 0, 0, 0.603), 0 0 20px rgba(0, 0, 0, 0.61);
    --box-shadow-l: 0 0 20px rgba(0, 0, 0, 0.514), 0 0 40px rgba(0, 0, 0, 0.514);
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    font-family: var(--primary-font);
    color: var(--global-color);

    background: var(--global-background);

    transition: 500ms;
}
@media (prefers-color-scheme: dark) {
    :root {
        --global-background: hsl(var(--bg-clr-hue), 14%, 14%);
        --global-color: hsl(0, 0%, 100%);
    }
}
::selection {
    background: var(--primary-clr);
    color: rgb(27, 27, 27);
}

[disabled] {
    cursor: not-allowed !important;
    display: none !important;
}
a {
    color: var(--primary-clr);
}
input,
.btn {
    font-size: 16px;
    padding: 10px;
    border: 0;
    border-radius: 10px;

    box-shadow: 0 0 0.5px 0.5px var(--color), var(--box-shadow-s);
}
.btn {
    font-weight: 800;
    cursor: pointer;
    background: var(--color);

    transition: 150ms;
}
.btn:hover:not([disabled]) {
    transform: scale(1.09);
    filter: opacity(1) brightness(1) !important;
}
.btn-icon {
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    padding: 7px;
    border: none;
    color: var(--color);
    background: var(--global-background);
}
.btn-primary {
    --color-hue: var(--primary-clr-hue);
    --color: var(--primary-clr);
}
.btn-edit {
    --color-hue: var(--primary-clr-hue);
    --color: var(--primary-clr);
}
.btn-delete {
    --color-hue: var(--danger-clr-hue);
    --color: var(--danger-clr);
}
.btn-complete {
    --color-hue: var(--complete-clr-hue);
    --color: var(--complete-clr);
}
.btn-add-subTask {
    --color-hue: 214;
    --color: hsl(214, 100%, 50%);
}

.task-list {
    padding: 0;
    transition: 200ms;
}
.task {
    position: relative;
    height: max(1.9rem, max-content);

    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    --opacity: 1;

    --alt-bg: hsla(var(--bg-clr-hue), 15%, 50%, 0.212);
    background: hsla(var(--bg-clr-hue), 15%, 19%, 0.24);
    box-shadow: var(--box-shadow-s);
    transition: filter 180ms, opacity 180ms;
}
.task:not(.task-list > .task:first-child) {
    margin-top: 10px;
}
/* when task is completed */
.task.completed {
    --opacity: 0.25;
    --brightness: 0.8;
    filter: opacity(var(--opacity)) brightness(var(--brightness));
}
.task:hover {
    filter: opacity(calc(var(--opacity) + 0.4)) brightness(1.2);
}
.task.completed p .taskName {
    text-decoration: line-through;
}
.subtask-list {
    border-left: 1px solid rgba(128, 128, 128, 0.466);
}
.subtask-list.hide {
    display: none;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.task p {
    margin-block: 0;
    /* overflow: hidden; */
}
.task .external-link {
    color: hsl(var(--primary-clr-hue), 100%, 55%);
}
.task .dropdown-toggle {
    font-size: 0.9rem;
    opacity: 0.55;
    cursor: pointer;
}
.task .dropdown-toggle i {
    transition: transform 180ms;
}
.task .dropdown-toggle:not(.open) i {
    transform: rotate(-90deg);
}
.task .btn {
    transition: box-shadow 400ms, transform 200ms, filter 150ms, color 200ms;
}
/* .task .btn:not(:hover) {
    transform-origin: right;
} */
.task .btn:hover:not(.task.completed .btn-complete, [disabled]) {
    box-shadow: var(--box-shadow-m), 0 0 50px 700px hsla(var(--color-hue), 97%, 58%, 0.267);
}
.task .btn-complete {
    margin-right: 10px;
}
.task .btn-complete:hover ~ :is(.btn-delete, .btn-edit):not(.task.completed .btn) {
    filter: /* opacity(0.5) */ grayscale(1);
}
.task:not(.completed) .btn-complete:not(:hover) {
    color: gray;
}
.task .btn-group {
    position: absolute;
    right: 12px;
    margin: 0;
    padding: 0;
    width: max-content;
}
.task .btn-group .btn {
    margin: 0 5px;
}
.task .btn:not(.task:hover .btn, .btn-complete) {
    transform: scale(0.5);
    filter: opacity(0);

    --delay: calc(50ms * var(--btn-index-reverse));
}
.task .btn:not(.btn-complete) {
    --delay: calc(80ms * var(--btn-index));
    transition: box-shadow 400ms, transform 200ms var(--delay), filter 150ms var(--delay);
}
.container {
    position: relative;
    display: flex;
    /* min-height: 80vh; */
    width: 90vw;
    /* outline: 2px solid red; */
}
main {
    height: 100%;
    /* outline: 2px solid red; */
}
.sidebar {
    position: relative;
    min-height: 40vh;
    height: max-content;

    min-width: 9rem;
    min-width: max(max-content, 9rem); /* comment out for resizing to work properly */
    width: max-content;
    max-width: 17rem;
    resize: horizontal;
    overflow: auto;

    border-radius: 10px;
    --margin-top: 140px;
    margin: var(--margin-top) 20px 0 0;
    padding: 20px;
    padding-bottom: 60px;

    background: hsla(var(--bg-clr-hue), 14%, 20%, 0.158);
    box-shadow: var(--box-shadow-s);
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    position: relative;
    background: hsla(var(--bg-clr-hue), 19%, 25%, 0.366);
    padding: 10px;
    padding-right: 2rem;
    border-radius: 6px;
    cursor: pointer;

    box-shadow: var(--box-shadow-s);
    transition: 180ms;
}
.sidebar li + li {
    margin-top: 5px;
}
.sidebar li:hover {
    filter: brightness(1.2);
}
.sidebar li:not(.active) i {
    display: none;
}
.sidebar #taskListsList li.active i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-left: 20px;
    float: right;
    filter: opacity(0.6);
}
.sidebar li:nth-child(2n) {
    background: hsla(var(--bg-clr-hue), 20%, 40%, 0.342);
}
.file-interaction {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.heading i {
    transition: 180ms;
}
.heading i:hover {
    filter: brightness(0.7);
}
section.input {
    margin-bottom: 20px;
}
.nameInput {
    width: calc(100% - 60px);
    margin-right: 5px;

    background: var(--global-background);
    color: var(--global-color);

    box-sizing: border-box;

    outline: none;
    --outline-clr: gray;
    --outline-weight: 1px;
    box-shadow: 0 0 1px var(--outline-weight) var(--outline-clr), var(--box-shadow-s);
    /* border: 1px solid var(--outline-clr); */
    transition: 180ms;
}
@media (prefers-color-scheme: light) {
    .nameInput:focus {
        --outline-weight: 2px;
    }
}
.nameInput:focus {
    --outline-clr: var(--primary-clr);
}
.btn-add {
    float: right;
}

section.output {
    min-width: 40vw;
    max-width: 90vw;
}

.edit-menu-container:not(.show) {
    filter: opacity(0);
    pointer-events: none;
}
.edit-menu-container {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(27, 27, 27, 0.493);
    transition: 300ms;
}
.edit-menu {
    position: relative;

    min-width: min(45vw, 30rem);

    --menu-padding: 20px;
    padding: var(--menu-padding);
    padding-top: 50px;
    border-radius: 12px;
    border: 1px solid gray;

    background: var(--global-background);
    box-shadow: var(--box-shadow-l);
    transition: 300ms;
}
.edit-menu:not(.show .edit-menu) {
    transform: scale(0.7);
}
.edit-menu .edit-item {
    margin-bottom: 10px;

    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;

    --outline-clr: gray;
    --outline-weight: 1px;
    box-shadow: 0 0 1px var(--outline-weight) var(--outline-clr), var(--box-shadow-s);
    background: var(--global-background);
}
.edit-menu .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.edit-menu .nameInput {
    width: 100%;
}

.edit-menu .primary-slider-label {
    display: inline-flex;
    align-items: center;
}
.edit-menu .primary-slider-label {
    padding-top: 0;
    padding-bottom: 0;
}
.edit-menu .primary-slider-label input {
    background: none;
    box-shadow: none;
}
.edit-menu-container.list-edit .primary-slider-label {
    display: none;
}
.notesTextarea {
    width: calc(100% - var(--menu-padding));
    height: 70px;
    resize: none;

    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--global-color);
}
.notesTextarea:focus {
    --outline-clr: var(--primary-clr);
}
.list-edit :is(.add-link-container, .link-list) {
    display: none;
}
.add-link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkInput {
    width: 105%;
    margin: 0 10px 0 0 !important;
    color: var(--global-color);
}
.linkInput:focus {
    --outline-clr: var(--primary-clr);
}
.link-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.edit-menu .btn-group {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-menu .btn-group button {
    margin-left: 10px;
}
.edit-menu .btn-group button.btn-delete {
    position: absolute;
    left: 0;
    margin-left: 0;
}
